<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doudou.dispatch.trip.api.mappers.RouteGpsTemplateMapper">

	<select id="selectByRouteAndType" resultType="GpsTemplate">
		SELECT
			latitude,
			longitude,
			speed,
			createTime,
			routeName,
			type
		FROM
			gpsDB.routeGpsTemplate
		where
			routeName=#{routeName}
		AND type=#{type}
		ORDER BY
			createTime
	</select>

</mapper>
